body {
  padding: 30px;
  font-family: sans-serif;
}

.chart-title {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
}

.x-axis-title {
  font-size: 12px;
  font-family: sans-serif;
}

.mean-accuracy-label {
  font-size: 12px;
  font-family: sans-serif;
}

.mean-accuracy {
  font-size: 12px;
  font-family: sans-serif;
}